{% extends "base.html" %}

{% block title %}Lys{% endblock %}

{% block css %}
<link href='../../static/css/wheelcolorpicker.css' rel='stylesheet'>
<link href='../../static/css/bootstrap-slider.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class='col-sm-3 ly-pad-top-nav'>
                <ul class='nav nav-pills nav-stacked admin-nav ly-tab-ul' role='tablist'>

                </ul>

                <div class='ly-center'>
                    <a href='#'><i class='fa fa-refresh fa-2x ly-refresh-icon'></i></a>
                </div>

                <div class='ly-no-lights'>
                    <h2>No lights found</h2>
                    <p><i class='fa fa-spinner fa-spin'></i> &nbsp; Searching...</p>
                </div>
            </div>
            <div class='col-sm-9'>
                <div class="tab-content ly-tabs">
                    <div role="tabpanel" class="tab-pane active" id="Lys_Home">
                        <div class="ly-index-center-logo">
                            <img class="ly-index-logo" src="../../static/lys.png">
                        </div>
                        <h3>About Lys</h3>

                        <p>Lys is an open source, cross-platform interface for managing LIFX bulbs.</p>

                        <a class='gh-btn' href='http://github.com/cydrobolt/lys'><i class='fa fa-github fa-4x'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="../../static/js/handlebars-v4.0.5.min.js"></script>
    <script src="../../static/js/jquery.wheelcolorpicker.js"></script>
    <script src="../../static/js/underscore.min.js"></script>
    <script src="../../static/js/backbone.min.js"></script>

    <script src="../../static/js/app-lys.js"></script>
    <script src="../../static/js/jquery.wheelcolorpicker.js"></script>

    {% raw %}
    <hb id="ly-light-nav-template" type="text/x-handlebars-template">
        <li role="presentation" class="{{extra_classes}}"><a aria-controls="{{tab_label}}" id="activate-{{tab_label}}" href="#{{tab_label}}" role="tab" data-toggle="tab">{{label}}</a></li>
    </hb>

    <script id="ly-light-elem-template" type="text/x-handlebars-template">
        <div role="tabpanel" class="tab-pane ly-dyn" data-indice="{{indice}}" id="{{tab_label}}">
            <h3 class='ly-light-label'>{{label}}</h3> {{#if connected}}<i class='fa fa-check ly-status-icon ly-status-icon-conn'></i> <small>Bulb Online</small>{{else}}<i class='fa fa-times ly-light-status-icon ly-status-icon-disconn'></i> <small>Bulb Offline</small>{{/if}}

            <div class='row {{#unless connected}}ly-light-disconnected-item{{/unless}}'>
                <div class='col-sm-3'>
                    <h4>Color</h4>
                    <div class='circle'></div>
                    <input type="text" class='ly-change-color' data-ly-indice='{{indice}}' id='color-wheel-{{indice}}' data-wcp-sliders='w' data-wheelcolorpicker="">
                </div>
                <div class='col-sm-3'>
                    <h4>Brightness</h4>
                    <input data-ly-indice='{{indice}}' class='ly-change-brightness' id="brightness-selector-{{indice}}" type="text" />
                </div>
                <div class='col-sm-3'>
                    <h4>Power</h4>
                    <i data-ly-indice='{{indice}}' class="fa fa-power-off ly-toggle-power" aria-hidden="true"></i>
                </div>

            </div>

            <script>
                $(function () {
                    // Wrap in a function to scope variables

                    var color_wheel = $('#color-wheel-{{indice}}');
                    var brightness_slider = $('#brightness-selector-{{indice}}');

                    var color_display_circle = color_wheel.prev();
                    var hex_string_initial = tinycolor("hsv({{color.hue}}, {{color.saturation}}, 100%)").toHexString();

                    color_wheel.wheelColorPicker();
                    var brightness_slider_inst = new Slider("#brightness-selector-{{indice}}", {min  : 0, max  : 1, step: 0.01, reversed: true, value: lights_global[{{indice}}].brightness, orientation: 'vertical', tooltip_position:'left'});

                    color_display_circle.click(function () {
                        // Delegate click to hidden input selector
                        color_wheel.trigger('focus');
                    });

                    brightness_slider_inst.on("slideStop", function (sliderEvt) {
                        brightness_slider.trigger('slide');
                    });

                    color_display_circle.css('background-color', hex_string_initial);

                    $('#color-wheel-{{indice}}').on('sliderup', function() {
                        var hex_string = "#" + $('#color-wheel-{{indice}}').val();
                        color_display_circle.css('background-color', hex_string);
                    });

                });

            </script>
        </div>

    </script>
    {% endraw %}

{% endblock %}
