{% extends "base.html" %}

{% block title %}Login to Lys{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="ly-index-center-logo">
                    <img class="ly-index-logo" src="../../static/lys.png">
                </div>

                <h1>Login to Lys</h1>

                <p>Lys is cross-platform interface for LIFX lights</p>


                <a id="login-lifx" href="#" class="btn btn-lg ly-purple-btn">
                    Log in with <img class="ly-btn-logo" src="../../static/lifx-purple.svg">
                </a>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="../../static/js/auth-lys.js"></script>
{% endblock %}
